
* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  padding: 3px 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

/* PAGE HEADER */

.page-header {
  background-color: blue;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.page-header h1 {
  font-family: "Princess Sofia";
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.page-header h1,
.page-header div {
  display: inline-block;
}

.page-header button {
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/* LOGIN & SIGNUP */

.login-box {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.login-box-sub {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  height: 200px;
}

.login-box-sub input,
.login-box-sub button {
  display: block;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 15px;
  width: 300px;
}

.login-box-sub button {
  cursor: pointer;
}

/* MARKET */

.market h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.market h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.market-section {
  border: 2px solid black;
}

.market-item, .market-scroll {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  margin: 5px;
  padding: 5px;
}

.market-item {
  border: 1px solid black;
  text-align: center;
}

.market-item img {
  max-height: 80px;
  max-width: 80px;
}

.market-item .image-frame {
  height: 90px;
  width: 90px;
}

.market-scroll {
  border: 1px solid transparent;
  background-size: 50px 180px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.market-scroll.available {
  border-color: black;
}

.market-scroll.available:hover {
  background-size: 50px 185px;
  cursor: pointer;
}

.arrow-left.available {
  background-image: url(../images/arrow-left.png);
}

.arrow-right.available {
  background-image: url(../images/arrow-right.png);
}

/* INCUBATOR */

.incubator.park {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.incubator.park h1 {
  font-weight: bold;
}

.incubator.park img {
  height: 50px;
  margin: 10px 10px 0 0;
}

/* HABITAT */

.habitat.park {
  height: 200px;
  width: 300px;
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.habitat.park .construction-ready,
.habitat.park .construction-waiting {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 96%;
  color: red;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.habitat.park .construction-ready button {
  cursor: pointer;
}

.habitat.park .construction-ready button,
.habitat.park .construction-waiting .timer {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 30px;
  display: inline-block;
}

.habitat.park.eligible {
  border: 2px solid blue;
}

.habitat.active h2 {
  font-weight: bold;
  font-size: 20px;
}

.dragon.mini img {
  max-height: 50px;
  max-height: 50px;
}

/* DRAGON */

.dragon {
  display: inline-block;
  border: 1px solid transparent;
}

.dragon.active {
}

.dragon.habitat {
  display: inline-block;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px 0 0;
  text-align: center;
  height: 110px;
  width: 110px;
  cursor: pointer;
}

.dragon.habitat img {
  max-height: 80px;
  max-height: 80px;
}

.dragon img {
  max-height: 100px;
}

.dragon.egg {
  width: 150px;
  margin: 5px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

.dragon.egg h1 {
  font-weight: bold;
}

.dragon.egg img {
  height: 100px;
  margin: 10px 0;
}

.dragon.egg button,
.dragon.egg .timer {
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
}

.dragon.egg .timer {
  cursor: default;
}

.dragon.egg button {
  cursor: pointer;
}

/* OTHER */

.show-money {
  display: inline-block;
  height: 35px;
  background-image: url(../images/coin.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: left center;
  color: black;
  font-size: 20px;
  padding-left: 30px;
  line-height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}
