.market {
  text-align: center;
}

.market h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.market h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.market-view {
  display: inline-block;
  cursor: pointer;
  margin: 20px 10px;
}

.market-view img {
  height: 200px;
}

.market-section {
  border: 2px solid black;
}

.market-item, .market-scroll {
  display: inline-block;
  height: 160px;
  vertical-align: top;
  margin: 5px;
  padding: 5px;
}

.market-item {
  border: 1px solid black;
  text-align: center;
}

.market-item img {
  max-height: 80px;
  max-width: 80px;
}

.market-item .image-frame {
  height: 90px;
  width: 90px;
}

.market-scroll {
  border: 1px solid transparent;
  background-size: 50px 180px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.market-scroll.available {
  border-color: black;
}

.market-scroll.available:hover {
  background-size: 50px 185px;
  cursor: pointer;
}

.arrow-left.available {
  background-image: url(../images/arrow-left.png);
}

.arrow-right.available {
  background-image: url(../images/arrow-right.png);
}

.market-price,
.market-price-free {
  display: inline-block;
  line-height: 25px;
}

.market-price {
  background-image: url(../images/coin.png);
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 28px;
}
