<h2>Home Page</h2>

<form action="/buyHabitat" method="post">
    <input type="submit" value="buy habitat">
</form>

<div>
    <% habitats.forEach(habitat => { %>
        <div>
            <%= habitat %>
        </div>
    <% }); %>
</div>
