
.habitat {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 500px;
}

.habitat.basic .title,
.habitat.basic .close-button,
.habitat.basic .sell-habitat-form {
  display: none;
}

.habitat.basic .habitat-image {
  max-height: 180px;
  max-width: 180px;
}

.habitat.expanded .habitat-image {
  max-height: 200px;
  max-width: 200px;
}

.habitat.basic .dragon-image {
  max-height: 50px;
  max-width: 50px;
}

.habitat.expanded .dragon-image {
  max-height: 100px;
  max-width: 100px;
}
