body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.habitat {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 500px;
}

.habitat img {
  height: 50px;
}
