body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline {
  display: inline-block;
}

.incubator,
.habitat {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 500px;
}

.habitat img {
  max-height: 100px;
  max-width: 100px;
}

.store-item {
  display: inline-block;
  border: 1px solid black;
  height: 150px;
  width: 100px;
  vertical-align: bottom;
  padding: 5px;
}

.store-item img {
  max-height: 80px;
  max-width: 80px;
}

.incubator img {
  height: 80px;
}

.place-hatched-egg {
  display: none;
}
