
* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* PAGE HEADER */

.page-header {
  background-color: blue;
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.page-header h1 {
  font-family: "Princess Sofia";
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.page-header h1,
.page-header div {
  display: inline-block;
}

/* MODAL */

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  overflow: scroll;
}

.popup {
  background-color: white;
  width: 800px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
}

/* LOGIN & SIGNUP */

.login-box {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.login-box-sub {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  height: 200px;
}

.login-box-sub input,
.login-box-sub button {
  display: block;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 15px;
  width: 300px;
}

.login-box-sub button {
  cursor: pointer;
}

/* MARKET */

.market h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.market h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.market-section {
  border: 2px solid black;
}

.market-item {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.market-item img {
  max-height: 80px;
  max-width: 80px;
}

.market-item .image-frame {
  height: 90px;
  width: 90px;
}

/* INCUBATOR */

.incubator.park img {
  height: 80px;
}

/* HABITAT */

.habitat.park {
  border: 3px solid green;
  margin: 5px 0;
  padding: 10px;
}

.habitat.active h2 {
  font-weight: bold;
  font-size: 20px;
}

/* DRAGON */

.dragon {
  display: inline-block;
  border: 1px solid transparent;
}

.dragon.active {
  border-color: red;
}

.dragon.habitat {
  display: inline-block;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px 0 0;
  text-align: center;
  height: 110px;
  width: 110px;
  cursor: pointer;
}

.dragon.habitat img {
  max-height: 80px;
  max-height: 80px;
}

.dragon img {
  max-height: 100px;
}
